@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
*,*::before,*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: PopLight;
  src: url("./Fonts/Poppins-Light.ttf")
}
@font-face {
  font-family: PopRegular;
  src: url("./Fonts/Poppins-Regular.ttf")
}
@font-face {
  font-family: PopBold;
  src: url("./Fonts/Poppins-Bold.ttf")
}

body {
  font-family: 'Montserrat', PopLight;
  background-image: url('./images/trama_xs.png');
}